*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 1500px;
}

.box{
    width: 250px;
    height: 1100px;
    background-color: black;
    
}

.small_box1{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    border: none;
    margin-left: 20px;
    
    
}

.box_1{
    
    padding: 30px 0px;
    text-align: center;
    
    
}

.small_box2{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: yellow;
    border: none;
}

.small_box3{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    border: none;
    
}

.box_img1{
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 50px;
    margin-bottom: 20px;
}

.box_input{
    margin-left: 25px;
    margin-bottom: 20px;
}

.box_img2{
    width: 40px;
    height: 40px;
    margin-top: 250px;
    margin-left: 50px;
    padding: 10px 20px;
}

.box{
    display: flex; 
}

.box_2{
    background-color:  #25272A;
    
    padding-right: 50px;
    padding-left: 20px;
    height: 1100px;
    border-left: 2px solid white;
    margin-left: 100px;
}

.box_small_2 h2{
    color:white;
    padding-right: 20px;
    margin-top: 50px;   
}

.box_small_2{
    display: flex;
    align-items: center;
    
}

.box_img_2{
    margin-left: 80px;
    margin-top:50px;
}

.box_img_3{
    width: 20px;
    height: 20px;
}

.box_small_3{
    display: flex;
    align-items:center;
    margin-top: 20px;
}

.box_small_3 h4{
    color: white;
    margin-left: 20px;
    font-size: 15px;
}

.box_small_4{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_small_5{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_small_5 p{
    color: white;
}

.box_small_5 .son{
    color: white;
    margin-left: 150px;
}

.box_small_4 p{
    color: white;
}

.box_small_4 .son{
    color: white;
    margin-left: 160px;
}

.box_link{
    color: white;
   margin-bottom: 10px;
}

.box_link:hover {
    background-color: rgb(117, 114, 114);
    width: 150px;
    height: 20px;
    border-radius: 5px;
} 

.box_3 {
    height: 1100px;
    border: 1px solid black;
    
}

.block{
    display: flex;
    padding-bottom: 20px;
}

.box3_item2 img{
    width: 20px;
    height: 20px;
}

.box_img3{
    width:20px;
    height: 20px;
}

.rasm1{
    width: 20px;
    height: 20px;
}

.rasm2{
    
    height: 20px;
}

.box3_img{
  width: 20px;
  height: 20px;
}

.box_smalll{
    
    display: flex;
    margin-top: 40px;
    margin-left: 20px;

}

.box_smalll .box_img3{
 margin-left: 8px;
 
}

.box_smalll p{
    font-size: 20px;
}

.box3_item1{
    display: flex;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 20px;
}

.box3_item1 .box3_img{
  margin-right: 15px;
}

.box3_list{
    display: flex;
}

.box3_item2{
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    border: 0.5px solid black;
    height: 35px;
    width: 200px;

}

.box3_item2 a{
    color: #8D8D8D;
    padding-top: 6px;
    padding-right: 80px;   
}

.box3_item2 img{
    margin-top: 5px;
}

.box3_item3{
    display: flex;
    margin-top: 40px;
}
.box3_item3 .rasm1{
    margin-right: 20px;
}
.box3_item3 .rasm2{
   margin-right: 10px; 
}

.block2{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

.lll{
    display: flex;
}

.lll .iii1{
    margin-left: 10px;
    color: #8D8D8D;
}

.block2 img{
   width: 40px;
   height: 40px;
   border-radius: 5px;
}

.textt{
    margin-top: 3px;
}

.textt a{
    margin-top: 5px;
}

.gori{
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.gori hr{
  width: 230px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0 auto;
  margin-top: 7px;
}

.gori p{
    color: #8D8D8D;
    font-size: 14px;
}

.block3 .block_small{
    margin-top: 20px;
    margin-left: 20px;
  display: flex;
}

.block_small img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.rasmm{
    width: 400px;
    height: 300px;
    margin-left: 60px;
    margin-top: 30px;
}

.matn{
    padding-right: 50px;
}

.block4{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    padding-bottom: 30px;
}

.lll{
    display: flex;
}

.lll .iii1{
    margin-left: 10px;
    color: #8D8D8D;
}

.block4 img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
 }

.pic{
    display: flex;
}

.pic_1{
    height: 20px;
    width: 15px;
    margin-top: 30px;
    margin-left: 20px;
}

.pic_2{
    width: 15px;
    height: 20px;
    margin-top: 30px;
    margin-left: 20px;
}

.ddd{
    margin-top: 30px;
    margin-left: 20px;
    color:  #8D8D8D;
    font-size: 14px;
}

.box_4 img{
    width: 250px;
    height: 250px;
}

.box_4{
    background-color: #8d8e91;
}

.box_4 p{
    color: #5F6164;
    font-size: 12px;
    margin-left: 20px;
}

.box_4 h3{
    margin-left: 20px;
    margin-top: 20px;
}

.box_4_list{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.box_4_item .box_41{
    width: 30px;
    height: 30px;
    border: 0.5px solid gray; 
    border-radius: 50%;
    background-color: white;

}

.box_4_item .box_42{
    width: 30px;
    height: 30px;
    border: 0.5px solid gray; 
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;

}

.box_4_item .box_43{
    width: 30px;
    height: 30px;
    border: 0.5px solid gray; 
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;

}

.box_4_item .box_44{
    width: 30px;
    height: 30px;
    border: 0.5px solid gray; 
    margin-left: 10px;
    border-radius: 50%;   
    background-color: white;

}

.matn_1{
    
    background-color: #3577EF;
    color: white;
    width: 100px;
    font-size: 20px;
    padding-top: 5px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

.small_list{
    margin-top: 20px;
}

.small_item{
    margin-bottom:10px;
}

.small_item p{
   font-size:12px;
}

.small_item h5{
    margin-left: 20px;
    font-size: 14px;
}

@media(max-width:1160px){
    .container{
        width: 1040px;
    }
}

@media(max-width:1060px){
    .container{
        width: 940px;
    }
}

@media(max-width:960px){
    .container{
        width: 840px;
    }
}

@media(max-width:860px){
    .container{
        width: 740px;
    }
}

@media(max-width:760px){
    .container{
        width: 640px;
    }
}

@media(max-width:660px){
    .container{
        width: 540px;
    }
}

@media(max-width:560px){
    .container{
        width: 440px;
    }
}

@media(max-width:460px){
    .container{
        width: 100%;
    }
}
